<div *ngIf="isLoading" class="loading-container">
    <circle-progress [percent]="loadingProgress" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'yellow'" [animation]="true"
        [animationDuration]="10000"></circle-progress>
</div>

<div *ngIf="!isLoading">


<div class="sun-title-container">
    <h1 class="sun-title" data-sun-title="Sun">Sun</h1>
  </div>
<div class="card">
    <p class="paragraph-style">{{this.allData?.sunData?.value?.headline}}</p>
</div>
<div class="summary-card">
    <div class="row">
    <div class="cardd">
        <span class="label">Rise:</span>
        <span class="value">{{ rise }}</span>
        <span class="label">Azimuth:</span>
        <span class="value">{{ rise_azimuthValue + "°" }}</span>
    </div>

    <div class="cardd">
        <span class="label">Set:</span>
        <span class="value">{{ set }}</span>
        <span class="label">Azimuth:</span>
        <span class="value">{{ set_azimuthValue + "°" }}</span>
    </div>

    <div class="cardd">
        <span class="label">Current State:</span>
        <span class="value">{{ "Sun is " + currentState }}</span>
    </div>

    <div class="cardd">
        <span class="label">Transit:</span>
        <span class="value">{{ transit }}</span>
        <span class="label">Max Altitude:</span>
        <span class="value">{{ transit_altitudeValue + "°" }}</span>
    </div>
</div>
</div>


        <div class="row justify-content-center">
            <!-- Sunspot Images -->
            <div class="col-lg-4">
                <div class="card sunspot-card">
                    <div class="image-container">
                        <img [src]="sunspotImageUrl" alt="Sun Image" class="sunspot-image"> 
                    </div>
                    <p class="image-description">Here is a recent image of the Sun's surface showing the current sunspot activity</p>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card sunspot-card">
                    <div class="image-container">
                        <img [src]="sunspotImageUrl1" alt="Sun Image" class="sunspot-image">
                    </div>
                    <p class="image-description">Map showing The Sun in Cancer<br>Field of view: 10x6 degrees</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card sunspot-card">
                    <div class="image-container">
                        <img [src]="sunspotImageUrl2" alt="Sun Image" class="sunspot-image">
                        <p class="image-description">Deep sky finder chart for The Sun Field of view: 60x40 arcmins</p>
                    </div>
                </div>
            </div>
        </div>


<div class="card">
    <div class="card-body">
<h2 class="centered-heading">The Sun Physical Data</h2>
        <div class="table-container">
            <table class="simulator-table">
                <thead class="centered-header">
                    <tr>
                        <th>Physical Parameter</th>
                        <th>Value</th>
                        <th>Relative to Earth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of SunValues">
                        <td>{{ item.parameter }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.relativeToEarth }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>