<div class="statistic-title-container">
  <h1 class="statistic-title" data-statistic-title="Statistic">Statistic</h1>
</div>
<!-- Summary Cards -->
<div class="summary-cards">
  <!-- Total Asteroids Card -->
  <div class="summary-card">
    <div class="cardd">
      <div class="card-body">
        <h2 class="title"><i class="fas fa-star card-icon"></i> Total Asteroids</h2>
        <p class="total-asteroids">{{ getTotalAsteroids() }}</p>
      </div>
    </div>
  </div>

  <!-- Date Card -->
  <div class="summary-card">
    <div class="cardd">
      <div class="card-body">
        <h2 class="title"><i class="fas fa-calendar-alt card-icon"></i> Date</h2>
        <p class="total-asteroids">{{ getCurrentDate() }}</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <table class="asteroids-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Absolute Magnitude (H)</th>
        <th>Estimated Diameter (Feet)</th>
        <th>Estimated Diameter (Kilometers)</th>
        <th>Estimated Diameter (Meters)</th>
        <th>Estimated Diameter (Miles)</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asteroid of asteroidData">
        <td>{{ asteroid.name }}</td>
        <td>{{ asteroid.year }}</td>
        <td>{{ asteroid.absolute_magnitude_h }}</td>
        <td>{{ asteroid.estimated_diameter.feet.estimated_diameter_min }} - {{ asteroid.estimated_diameter.feet.estimated_diameter_max }}</td>
        <td>{{ asteroid.estimated_diameter.kilometers.estimated_diameter_min }} - {{ asteroid.estimated_diameter.kilometers.estimated_diameter_max }}</td>
        <td>{{ asteroid.estimated_diameter.meters.estimated_diameter_min }} - {{ asteroid.estimated_diameter.meters.estimated_diameter_max }}</td>
        <td>{{ asteroid.estimated_diameter.miles.estimated_diameter_min }} - {{ asteroid.estimated_diameter.miles.estimated_diameter_max }}</td>
        <!-- Add more columns as needed -->
      </tr>
    </tbody>
  </table>
</div>
<div class="char">
<div class="chart-container">
  <canvas id="ASTEROIDS"></canvas>
</div>
</div>
