.simulator-table {
  width: 100%;
  border-collapse: collapse;
}

.simulator-table th,
.simulator-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.simulator-table thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.simulator-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Styling for the sunspot images */
.sunspot-card {
  text-align: center;
  padding: 10px;
}

.sunspot-image {
  width: 100%;
  height: 100%; /* Set the desired height */
  object-fit: cover;
}
