.simulator-table {
  width: 100%;
  border-collapse: collapse;
}

.simulator-table th,
.simulator-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.simulator-table thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.simulator-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* SERACH */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 500px;
}

.search-input {
  flex: 1;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}


.column-dropdown {
  display: flex;
  align-items: center;
  
}

.column-dropdown label {
  font-weight: bold;
  margin-right: 5px;
}

.column-dropdown select {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.column-dropdown select:hover {
  background-color: #f2f2f2;
}


.date-range-picker {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.date-range-picker label {
  font-weight: bold;
}

.date-range-picker input {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.search-button, .clear-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover, .clear-button:hover {
  background-color: #0056b3;
}

.date-range-label {
  font-size: 14px;
  margin-top: 10px;
  color: #777;
}

.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: 4rem;

}


