<div *ngIf="isLoading" class="loading-container">
  <circle-progress [percent]="loadingProgress" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'yellow'" [animation]="true"
    [animationDuration]="10000"></circle-progress>
</div>

<div *ngIf="!isLoading">
<div class="dashboard-title-container">
  <h1 class="dashboard-title" data-dashboard-title="Dashboard">Dashboard</h1>
</div>

<!-- Summary Cards -->
<div class="summary-cards">
  <!-- Total Events Card -->
  <div class="summary-card">
    <div class="cardd">
      <div class="card-body">
        <h2 class="title"><i class="fas fa-star card-icon"></i> Total Events</h2>
        <p class="total-events">{{ getTotalEvents() }}</p>
      </div>
    </div>
  </div>

  <!-- Date Card -->
  <div class="summary-card">
    <div class="cardd">
      <div class="card-body">
        <h2 class="title"><i class="fas fa-calendar-alt card-icon"></i> Date</h2>
        <p class="total-events">{{ getCurrentDate() }}</p>
      </div>
    </div>
  </div>
</div>

<div class="chart-container">
  <!-- Pie Chart -->
  <div class="chart">
    <canvas #eventDistributionChart></canvas>
  </div>

  <!-- Last Evant -->
  <div class="event-details">
    <h2>Last Event Details</h2>
    <div *ngIf="recentEventData">
      <p><strong>Title:</strong> {{ recentEventData.Title_HD }}</p>
      <p><strong>Date:</strong> {{ recentEventData.date | date:'short' }}</p>
      <p><strong>Event:</strong> {{ recentEventData.event }}</p>
      <p><strong>Priority:</strong> {{ recentEventData.priority }}</p>
      <p><strong>Telescope:</strong> {{ recentEventData.telescope }}</p>
      <p><strong>RA:</strong> {{ recentEventData.RA }}</p>
      <p><strong>DEC:</strong> {{ recentEventData.DEC }}</p>
    </div>
    <div *ngIf="!recentEventData">
      <p>No recent event data available.</p>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <!-- Search input -->
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch()">

      
      <!-- Column selector dropdown -->
      <div class="column-dropdown">
      <label for="selectColumn">Search in:</label>
      <select [(ngModel)]="selectedColumn" (change)="onSearch()">
        <option value="All">All Columns</option>
        <option value="Name">Name</option>
        <option value="Date">Date</option>
        <option value="Event">Event</option>
        <option value="Telescope">Telescope</option>
        <option value="RA">RA</option>
        <option value="DEC">DEC</option>
        <!-- Add more options for other columns if needed -->
      </select>
    </div>
    
    </div>
      <!-- Date range picker -->
    <div class="date-range-picker">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate">
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate">
      <button class="search-button" (click)="onSearchByDateRange()">Search</button>
      <button class="clear-button" (click)="clearDateRange()">Clear</button>
      <div *ngIf="startDate && endDate" class="date-range-label">
        Searching data from {{ formatDate(startDate) }} to {{ formatDate(endDate) }}
      </div>
    </div>

    <!-- Table to display the simulator values -->
    <div class="table-container">
      <table class="simulator-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Event</th>
            <th>Telescope</th>
            <th>RA</th>
            <th>DEC</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredArrSimulatorValues">
            <td>{{ item.Title_HD }}</td>
            <td>{{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ item.event }}</td>
            <td>{{ item.telescope }}</td>
            <td>{{ item.RA }}</td>
            <td>{{ item.DEC }}</td>
            <td>{{ item.priority }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>




  
    
