<h1>Dashboard</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, cum culpa? Cum nisi, fugiat doloribus numquam,
        maxime voluptates expedita dolor culpa quam nostrum quas corporis sit. Adipisci iusto ut deserunt.
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Distribution of events (Last week)</h2>
            <canvas id="EVENTS"></canvas>
        </div>
        <div class="col-lg-6">
            <h2>Distribution of asteroids (Last month)</h2>
            <canvas id="ASTEROIDS"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Sun radiation (Last 2 hours) </h2>
            <canvas id="SUN"></canvas>
        </div>
        <div class="col-lg-6">
            <h2>NEO Graph (24 hours) </h2>
            <canvas id="NEO"></canvas>
        </div>
    </div>
</div>